.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.homeContainer {
  width: 100%;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  width: max-content;
}
.containerLeft {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displayTextHome {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.homeCreateButton {
  margin-top: 20px;
  background-color: #49d97f;
  border-radius: 8px;
  height: 65px;
  width: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}
.pollTagLine {
  margin-top: 30px;
  color: #00000070;
}
.containerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pollImage {
  height: 410px;
  width: 380px;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
}
.pollInfoContainer {
  display: flex;
  max-width: 1500px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.pollInfo {
  max-width: 450px;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
}
.pollInfoIcon {
  font-size: 28px;
  margin-bottom: 5px;
}
.info {
  font-size: 20px;
  font-weight: 600;
  color: #00000070;
}
@media screen and (min-device-width: 360px) and (max-device-width: 812px) {
  .home {
    flex-direction: column;
    height: max-content;
    padding: 40px 20px;
    gap: unset;
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .pollTagLine {
    display: none;
  }
  .containerLeft {
    padding: 0 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    order: 2;
  }
  .homeCreateButton {
    height: 60px;
    width: 210px;
  }
  .containerRight {
    align-items: center;
    height: 100%;
    order: 1;
  }
  .pollImage {
    width: 266px;
    height: 287px;
  }
  .displayTextHome {
    font-weight: 500;
    font-size: 26px;
  }
  .pollInfoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }
  .pollInfo {
    width: 60%;
  }
  .info {
    font-size: 18px;
  }
}
